body{
    font-family: 'Montserrat', sans-serif;
 
}


#title {  
    background-color: #ff4c68;
    color:#fff
}

.container-fluid{
    padding: 3% 15% 7% ;
}

h1 {
    font-family:"Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    
}

h2{
    font-family: "montserrat-bold";
    font-size: 3rem;
    line-height: 1.5;
}
/* navigation bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
font-family: 'Ubuntu', sans-serif;
font-size: 2.5rem;
font-weight:bold;
}

.nav-item {
    padding: o 10px ;
}

.nav-link {
    font-size: 1.2rem ;
    font-family:"montserrat-light";
}

/* download button */

.download-button {
    margin: 5% 3% 5% 0;
}

/* title image */
.title-image  {
    width: 60%;
    transform:rotate(25deg ) ;
    

}

.row h3 {
    font-family: "montserrat-bold";
    font-weight: 1.5rem;
}

.row p {
    color: #8f8f8f;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
    
}

.icon:hover {
    color:#ff4c68;
}

/* features styling */


#features {
    padding: 7% 15%;
    background-color: #fff;

}

.features-box {
    text-align: center ;
    padding:5%;
}

/* testimonial section  */

#testimonials {
    padding:7% 15% ;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
 
.carousel-item {
    padding:7% 15% ;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px ;
}

/* pricing section */

#pricing {
    padding: 100px;
    text-align: center;
}
 
.pricing-column {
    padding: 3% 2%;
}
  
@media (max-width: 1028px) {
  
    #title {
        text-align: center;
    }

    .title-image {
        transform: rotate(0);
    }

}

/* call to action */

#cta {
    text-align: center;
    background-color: #ff4c68;
    padding: 7% 15%;
    font-family: "montserrat-bold";
    color: white;

}

.cta-heading {
    font-size: 3.5rem;
    line-height: 1.5;
}

.cta-button {
    margin: 5% 3% 5% 0;

}

/* footer */

#footer {
    text-align: center;
    padding: 7% 30%;
    background-color: #fff;
}

.fa-footer {
    margin: 2%;
}